
@{
    ViewData["Title"] = "Index";
}

<h1>Cart</h1>

<table>
    <tr>
        <th>Option</th>
        <th>ID</th>
        <th>Name</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Total</th>
    </tr>
    @foreach (var p in ViewBag.order)
    {
<tr>
    @*<td><a asp-controller="order" asp-action="remove" asp-route-id="@p"</td>*@
    <td>@p.Product.Id</td>
    <td>@p.Product.Name</td>
    <td>@p.Product.Price</td>
    <td>@p.Product.Quantity</td>
    <td>@(p.Product.Price * p.Quantity)</td>
</tr>
    }
    <tr>
        <td>Sum</td>
        <td>
            @ViewBag.total
        </td>
    </tr>
</table>
<br/>
<a asp-controller="Product" asp-action="index">Continue Shopping</a>
<a asp-controller="Checkout" asp-action="index" asp-route-id="">Continue Shopping</a>
